@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.messageModal {
  max-width: 500px;
  padding: 20px 40px;
  font-size: sizes.$MODAL_FONT;
  white-space: pre-wrap;

  .buttonContainer {
    @include flexbox.flexbox(end, end);
    margin-top: 10px;

    button {
      font-size: sizes.$MODAL_BUTTON_FONT;
    }
  }
}
