@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/constants/colors';
@use '/src/styles/constants/sizes';

.messageModal {
  @include flexbox.flexbox(start, center);
  flex-direction: column;
  width: 500px;
  padding: 20px 40px;
  font-size: sizes.$MODAL_FONT;
  white-space: pre-wrap;

  .messageContainer {
    max-height: 450px;
    overflow: auto;
  }

  .buttonContainer {
    @include flexbox.flexbox(end, end);
    width: 100%;
    margin-top: 10px;

    button {
      font-size: sizes.$MODAL_BUTTON_FONT;
    }
  }
}
