@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.modalBackground {
  @include position.fixed(0 0 auto auto);
  @include flexbox.flexbox(center, center);
  z-index: levels.$MODAL;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px);

  .modalContents {
    background-color: colors.$WHITE;
    border: 1px solid colors.$MODAL_BORDER;
    border-radius: 15px;
  }
}
