// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$MAIN_THEME: #ff6c38;
$MAIN_TEXT: $GRAY2;

$HOME_H2: $BLACK;
$HOME_LINK: $GRAY6;

$CARD_BORDER: $GRAYE;
$MAIN_BACKGROUND: $WHITE;
$GNB_BACKGROUND: $WHITE;

$CANCEL_BUTTON: #ff4458;
$REVERT_BUTTON: #2bb8ff;

$MODAL_BORDER: $GRAYE;
$MODAL_STATUS_UNREAD: $BLUE;
$MODAL_STATUS_READ: $GRAYA;

$SPINNER: $MAIN_THEME;
