@use '/src/styles/mixins/flexbox';

.profileCard {
  flex-shrink: 0;
  width: 300px;
  height: 500px;
  overflow: hidden;

  .buttonContainer {
    @include flexbox.flexbox(center, center);
  }

  .rotate {
    transform: rotate(45deg);
  }

  img {
    width: 100%;
  }
}
