@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/constants/colors';

.confirmModal {
  padding: 20px 40px;
  white-space: pre-wrap;

  .buttonContainer {
    @include flexbox.flexbox(end, center);
    gap: 10px;
    margin-top: 10px;

    button {
      &.confirmButton {
        color: colors.$RED;
      }
    }
  }
}
