@mixin cubicBezier($duration) {
  transition: $duration;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes swipeRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateX(200px) rotate(15deg);
  }
}

@keyframes swipeLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateX(-200px) rotate(-15deg);
  }
}
